<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">Terms And Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides [options]="slideOpt">
    <ion-slide>
      <img  src="../../assets/gambar/TERM1.png" alt="">
      <p>SAPA Adalah aplikasi yang akan mempermudah
        kegiatan presensi kamu, hampir semua
        informasi pribadi kamu sebagai
        mahasiswa ada di Aplikasi ini</p>
      <ion-progress-bar value="0.25"></ion-progress-bar>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/gambar/TERM2.png" alt="">
      <p>apabila kamu sudah login, kamu tidak akan bisa
        melakukan logout, di karenakan untuk keamanan.</p>
      <ion-progress-bar value="0.50"></ion-progress-bar>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/gambar/TERM3.png" alt="">
      <p>Tidak di perkenankan untuk melakukan
        kecurangan dalam bentuk apapun, apabila
        terjadi kecurangan, akan dikenai
        sanksi dari pihak yang berwenang</p>
      <ion-button [routerLink]="['/login']" fill="clear">Lanjutkan<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      <ion-progress-bar value="0.75"></ion-progress-bar>
    </ion-slide>
  </ion-slides>

</ion-content>
