<ion-content>
  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/png/512/149/149071.png">
      </div>
      <h3>Welcome!</h3>
      <p>TO SAPA</p>
    </div>
    <div class="body">
      <form #form="ngForm" (ngSubmit)="login()">
        <ion-list>
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-input type="text" [(ngModel)]="user.email" name="email" placeholder="NIM"></ion-input>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="lock"></ion-icon>
            <ion-input type="password" [(ngModel)]="user.password" name="password" placeholder="Kode TU Fakultas"></ion-input>
          </ion-item>
        </ion-list>
      </form>

    </div>
    <div padding>
      <ion-button size="large" href="/tabs/tab2" expand="block">Login</ion-button>
    </div>
  </div>
</ion-content>
