<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center">
      Aktivitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Hari Ini</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="../../assets/gambar/TERM1.png">
      </ion-thumbnail>
      <ion-label>
        <h2>Teknologi Pendukung Manajemen</h2>
        <p>Presensi Berhasil</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
